<%- include("./ek/header", {bot, temp,user,path}) %><br><br>
<div class="justify-content-md-center"><h2 style="color: GRAY;">Ritarary Code Başvuru:</h2></div><br><br>
<form>
  
<b>Gerçek isminiz:</b><br>
      <input type="text" class="form-control" required="true" placeholder="Mert" name="isim"><br><br>
  
      <b>Js, Html veya Commando bilginiz:</b><br>
      <input name="bilgi" class="form-control" required="true" placeholder="Az/Orta/Çok" type="text"><br><br>
  
      <b>Discord Tag</b><br>
      <input readonly class="form-control" required="true" placeholder="<%= user.username +"#" + user.discriminator %>" name="isim"><br><br>
      
  <input type="submit" class="btn btn-warning" name="gonder" value="Gönder">

</form>