<%- include('ek/header', {bot, user, path}) %>

<center><h2>Ritarary Code<br>Kodlama Dersleri</h2></center>
<h5 style="color:red">Glitch Uptime Robot Bağlamak:</h5><br><br>
<h4 style="color:blue">Cannot find module discord.js</h4>
  
<strong>Sorun;</strong><br>
Discord.js Modülü Yüklenmemiş veya Hatalı yüklenmiş<br><br>

<strong>Çözüm;</strong><br>
Glitch'te iseniz <a href="/ed/glitchmodul" style="color:GREEN">Modülü silip tekrar kurun.</a> Değilseniz konsola sırasıyla<br>
<h6 style="color: GRAY; bold" >npm init -y<br>
npm i discord.js<br>
</h6>
yazın<br><br><br><br><br>

<h4 style="color:blue">Error: getaddrinfo ENOTFOUND gateway.discord.gg gateway.discord.gg:443</h4>

<strong>Sorun;</strong><br>
İnternet Kesilmiş<br><br>

<strong>Çözüm;</strong>
İnternet Bağlantınızı Kontrol edin<br><br><br><br><br>

<h4 style="color:blue">Unexpected End of Input</h4>
<strong>Sorun;</strong><br>
Parantezleri kapatırken hata oluşmuş<br><br>

<strong>Çözüm;</strong>
Kodlarınızdaki açılan () {} [] gibi parantezlerin kapatıldığına emin olun<br><br>

<img src ="https://blobscdn.gitbook.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-LAEeOAJ8-CJPfZkGKqI%2F-LAEmDGzvjK634rgf6_q%2F-LAEmNVeTnaCbYyyK0X5%2Feditorhelp.png?generation=1523904516399455&alt=media"><br>
Resimdeki gibi kolayca Emin Olmak için daha kullanışlı editleme programları <a href="https://code.visualstudio.com/download">indirebilirsiniz.</a><br><br><br>

<h4 style="color:blue">patates is undefined (patates eksikliğe göre değişebilir) </h4>

<strong>Sorun;</strong><br>
patates tanımlanmamış<br><br>

<strong>Çözüm;</strong>
patates tanımlayın. Tanımlamak için <h6 style="color: GRAY; bold" >const patates = require('patates')</h6><br>
<h6 style="color:red">NOT!</h6>
patates kod cinsine göre değişebilir. Eğer bunu okuduktan sonra da yapamazsanız <a href="https://discord.gg/EbEf97z" style="color: green">Sunucumuza gelerek</a> bize sorabilirsiniz
<br><br>
<button style="top: 29px; margin-left: 75%;" class="btn btn-primary"><a href="/ed" style="color:black">Önceki Sayfa</a></button>

<% include ./ek/footer %>