<%- include('ek/header', {bot, user, path}) %>

<center><h2>Ritarary Code<br>Kodlama Dersleri</h2></center><br>
  
<button style="top: 29px; margin-left: 3%;" class="btn btn-primary"><a href="/ed/botyapma" style="color:black">Sıfırdan Bot Yapmak</a></button> <button style="top: 29px; margin-left: 3%;" class="btn btn-primary"><a href="/ed/uptimerobot" style="color:black">Glitch UptimeRobot Bağlamak</a></button> <button style="top: 29px; margin-left: 3%;" class="btn btn-primary"><a href="/ed/hatalar" style="color:black">Klasik Hatalar</a></button>

<% include ./ek/footer %>