<%- include('ek/header', {kodlarr, fs, kod ,kodisim, bot, user, path}) %>
<% bot.channels.get("588642412365086751").send(`${user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim} kodunu aldı `)
fs.appendFile('././alınmalar.txt', user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim + " kodunu aldı\n", function (err) {
    if(err){
        throw err;
    }}) 

var resim;
var kres = kodlarr.forEach(a => { if(a.n2 === kodisim) resim = a.giflink } )
%>

<br><br>
<div align="left"><img src="<%= resim %>"></div>
<div align="right"><%- kod %></div>
   
<%- include('./ek/footer') %>