<%- include('ek/header', {fs, kod ,kodisim, bot, user, path}) %>
<% var web = new bot.WebhookClient("600289405688610846","93jcTDDK5fMMrZ32GcKo36EB_RbcK_95vYUsTLYE74mHx9A_MyCKbpIU3oW4Z-AwWaGP")
web.send(`${user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim} kodunu aldı `)
fs.appendFile('././alınmalar.txt', user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim + " kodunu aldı\n", function (err) {
    if(err){
        throw err;
    }}) %> 

<br><br><br>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto"><br>
            <ul> 
              <% kod.forEach(aa => { %>
              <p><a href="<%- "https://paste.ritararycode.tk/kod/" + aa %>"><%- "https://paste.ritararycode.tk/kod/" + aa %></a></p>
              <% }) %>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </section>    
        
<%- include('./ek/footer') %>