<%- include('ek/header', {logger ,fs, kod ,kodisim, bot, user, path})  %>
<%
logger.send(user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim + " kodunu aldı")
fs.appendFile('././alınmalar.txt', user.username + "#" + user.discriminator + " (" + user.id + ") "+ kodisim + " kodunu aldı\n", function (err) {
    if(err){
        throw err;
    }}) %> 

<br><br><br>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto"><br>
            <ul> 
              <% kod.forEach(aa => { %>
              <p><a href="<%- "https://paste.ritararycode.tk/kod/" + aa %>"><%- "https://paste.ritararycode.tk/kod/" + aa %></a></p>
              <% }) %>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </section>    
