<%- include('ek/header', {bot, user, path}) %>
<% console.log(user.username + "#" + user.discriminator + " Kodlara giriş yaptı") %>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto"><br><br><br><br><br>
            <h2><center>İşte Ritarary Code Kodları!</center></h2>
            <ul>
              <h5>🔲<a href= "/kodlar/alinti"> https://www.ritararycode.cf/kodlar/anahtar/alinti</h5></a>
              <h5>🔲<a href= "/kodlar/ayarlanabilirdestek"> https://www.ritararycode.cf/kodlar/anahtar/ayarlanabilirdestek</h5></a>
              <h5>🔲<a href= "/kodlar/etiketprefix"> https://www.ritararycode.cf/kodlar/anahtar/etiketprefix</h5></a>
              <h5>🔲<a href= "/kodlar/sor"> https://www.ritararycode.cf/kodlar/anahtar/sor</h5></a>
              <h5>🔲<a href= "/kodlar/davetcikar"> https://www.ritararycode.cf/kodlar/anahtar/davetcikar</h5></a>
              <h5>🔲<a href= "/kodlar/degisenoynuyor"> https://www.ritararycode.cf/kodlar/anahtar/degisenoynuyor</h5></a>
              <h5>🔲<a href= "/kodlar/kaydol"> https://www.ritararycode.cf/kodlar/anahtar/kaydol</h5></a>
              <h5>🔲<a href= "/kodlar/dmduyuru"> https://www.ritararycode.cf/kodlar/anahtar/dmduyuru</h5></a>
              <h5>🔲<a href= "/kodlar/eval"> https://www.ritararycode.cf/kodlar/anahtar/eval</h5></a>
              <h5>🔲<a href= "/kodlar/jsrol"> https://www.ritararycode.cf/kodlar/anahtar/jsrol</h5></a>
              <h5>🔲<a href= "/kodlar/karaliste"> https://www.ritararycode.cf/kodlar/anahtar/karaliste</h5></a>
              <h5>🔲<a href= "/kodlar/konustur"> https://www.ritararycode.cf/kodlar/anahtar/konustur</h5></a>
              <h5>🔲<a href= "/kodlar/kullanicibilgi"> https://www.ritararycode.cf/kodlar/anahtar/kullanicibilgi</h5></a>
              <h5>🔲<a href= "/kodlar/otorol"> https://www.ritararycode.cf/kodlar/anahtar/otorol</h5></a>
              <h5>🔲<a href= "/kodlar/oylama"> https://www.ritararycode.cf/kodlar/anahtar/oylama</h5></a>
              <h5>🔲<a href= "/kodlar/oyverdim"> https://www.ritararycode.cf/kodlar/anahtar/oyverdim</h5></a>
              <h5>🔲<a href= "/kodlar/sunucukur"> https://www.ritararycode.cf/kodlar/anahtar/sunucukur</h5></a>
              <h5>🔲<a href= "/kodlar/sunucular"> https://www.ritararycode.cf/kodlar/anahtar/sunucular</h5></a>
              <h5>🔲<a href= "/kodlar/sunucuyagiriscikislog"> https://www.ritararycode.cf/kodlar/anahtar/sunucuyagiriscikislog</h5></a>
              <h5>🔲<a href= "/kodlar/sureliduyuru"> https://www.ritararycode.cf/kodlar/anahtar/sureliduyuru</h5></a>
              <h5>🔲<a href= "/kodlar/tavsiye"> https://www.ritararycode.cf/kodlar/tavsiye</h5></a>
              <h5>🔲<a href= "/kodlar/yenile"> https://www.ritararycode.cf/kodlar/yenile</h5></a>
              <h5>🔲<a href= "/kodlar/ultrasohbettemizleyici"> https://www.ritararycode.cf/kodlar/ultrasohbettemizleyici</h5></a>
              <h5>🔲<a href= "/kodlar/snipe"> https://www.ritararycode.cf/kodlar/snipe</h5></a>
              <h5>🔲<a href= "/kodlar/gozetle"> https://www.ritararycode.cf/kodlar/gozetle</h5></a>
              <h5>🔲<a href= "/kodlar/prefix-calismakanal"> https://www.ritararycode.cf/kodlar/prefix-calismakanal</h5></a>
              <h5>🔲<a href= "/kodlar/bot-uyeotorol"> https://www.ritararycode.cf/kodlar/bot-uyeotorol</h5></a>
              <h5>🔲<a href= "/kodlar/basvuru"> https://www.ritararycode.cf/kodlar/basvuru</h5></a>
              <h5>🔲<a href= "/kodlar/kanalkonu"> https://www.ritararycode.cf/kodlar/kanalkonu</h5></a>
              <h5>🔲<a href= "/kodlar/sarkisozu"> https://www.ritararycode.cf/kodlar/sarkisozu</h5></a>
              <h5>🔲<a href= "/kodlar/notsistem"> https://www.ritararycode.cf/kodlar/notsistem</h5></a>
              <h5>🔲<a href= "/kodlar/exec"> https://www.ritararycode.cf/kodlar/exec</h5></a>
              <h5>■<a href= "/kodlar/gyardim"> https://www.ritararycode.cf/kodlar/gyardim</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/yedeksistem"> https://www.ritararycode.cf/kodlar/yedeksistem</h5></a
              <h5>■<a href= "/kodlar/cekilis"> https://www.ritararycode.cf/kodlar/cekilis</h5></a>
              <h5>■<a href= "/kodlar/golduye"> https://www.ritararycode.cf/kodlar/golduye</h5></a>
               <h5>■<a href= "/kodlar/capsengel"> https://www.ritararycode.cf/kodlar/capsengel</h5></a>
        <!--      <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
              <h5>■<a href= "/kodlar/hesapgen"> https://www.ritararycode.cf/kodlar/hesapgen</h5></a>
!-->
              
              <center>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </section>
    
<%- include('./ek/footer') %>