<%- include('ek/header', {bot, user, path, kodar}) %>
<% console.log(user.username + "#" + user.discriminator + " Kodlara giriş yaptı") %><br><br>
<div class="container">
        <div class="row" align="left"><br><br>
            <h2><center>İşte Ritarary Code Kodları!</center></h2><br><br>
              <% kodar.forEach(a => { %>
              <center>
              <h5>🔲<a href= "/kodlar/<%- a %>">https://ritararycode.tk/kodlar/<%- a %></h5></a><br><br>
              </center>
              <% }) %>
        </div>
</div>
<%- include('./ek/footer') %>