<%- include('ek/header', {bot, user, path, kodar}) %>
<% console.log(user.username + "#" + user.discriminator + " Kodlara giriş yaptı") %>
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto"><br><br><br>
            <h2><center>İşte Ritarary Code Kodları!</center></h2>
            <ul>
              <% kodar.forEach(a => { %>
              <h5 align="left">🔲 <a href= "/kodlar/<%- a %>">https://ritararycode.tk/kodlar/<%- a %></h5></a>      
              <% }) %>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </section>
