<%- include('ek/header', {oybot, bot, user, path}) %>

<form name="form" method="post">
<div align="center">

<img src="<%- oybot.displayAvatarURL %>" width="300" height="300"><br>
<h3><%- oybot.username %></h3>
<br><br><br>

<input class="btn btn-info" type="submit" name="oyver" value="Oy ver">
  
</div>
</form>