<!DOCTYPE html>
<html lang="tr">
<head>
<title>Ritarary Code</title>
<link id="favicon" rel="icon" href="<%= bot.user.displayAvatarURL %>" type="image/x-icon">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#00FF00">
<link href="https://api.ritararycode.tk/css/css2" rel="stylesheet">
<link href="https://api.ritararycode.tk/css/css1" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142546167-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142546167-1');
</script>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            
            <li class="nav-item active">
              <a class="nav-link" href="/">Ana Sayfa</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="/botlar">Sistemdeki Botlar</a>
            </li>  
            <% if (!user) { %>
            
            <li class="nav-item active">
              <a class="nav-link" href="/giris">Giriş Yap</a>
            </li>
            
            <%
			} else { 
			var asd = ["495825025207894016"]
			if(asd.some(a => user.id === a)) {
			%>
			
            <li class="nav-item active">
              <a class="nav-link" href="/kodpaylas">Kod Paylaş</a>
            </li>
			
			<li class="nav-item active">
              <a class="nav-link" href="/panel">Panel</a>
            </li>
			
            <li class="nav-item active">
              <a class="nav-link" href="/kodlar">Kodlar</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="/cikis">Çıkış Yap</a>
            </li>
			
			<% } else { %>
			
            <li class="nav-item active">
              <a class="nav-link" href="/kodlar">Kodlar</a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href="/cikis">Çıkış Yap</a>
            </li>
			
      <% }} %>    
	  
          </ul>
        </div>
  </nav>
<div class="container">